{% capture "form_classes" -%}
flex justify-between items-stretch my-6 gap-x-4 after:content-[&bull; Made to order | Will Ship in
5-7 days]
{%- endcapture %}

{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '', data-product-form-redirect-url: '/cart' %}
<!-- <div class="product-form__input-wrap"> -->
<div class="flex items-stretch justify-between">
	<button type="button" disabled data-qty="minus" class="bg-[#F1F1F1] flex items-center justify-center h-auto rounded w-8 px-2">
		<svg class="text-xs" xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
			<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
		</svg>
	</button>
	<input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" class="text-sm border-none w-12 text-center outline-none" pattern="[0-9]*" data-quantity-input>
	<button type="button" data-qty="add" class="bg-[#F1F1F1] flex items-center justify-center h-auto rounded w-8 px-2">
		<svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
		</svg>
	</button>
</div>

<button type="submit" name="add" disabled="disabled" class="hover:text-brand-red duration-300 bg-brand-red rounded-md w-auto disabled:bg-slate-500 flex-1 text-white py-3.5 cursor-pointer hover:ring-brand-red hover:bg-transparent hover:ring-2 hover:ring-inset
						" data-add-to-cart>
	<span class="text-sm uppercase font-bold tracking-widest" data-add-to-cart-text>
		{{ 'products.product.add_to_cart' | t }}
	</span>
</button>
{% endform %}
