<div class="product-info-wrapper">
	<div class="product-info-tabs leading-normal" role="tablist">
		<span class="active" data-info="1">Product Detail</span>
		<span data-info="2">About HypeFlags</span>
	</div>

	<div class="product-tab-content-wrap">
		<div class="active" data-info-cont="1">
			<ul class="leading-normal">
				<li>Size : 3 x 5 ft</li>
				<li>100% Lightweight Polyester</li>
				<li>4 reinforced metal grommets for hanging</li>
				<li>Reuseable storage bag included</li>
			</ul>
		</div>
		<div data-info-cont="2">
			<p class="leading-normal">
				We are the original and most trusted flag company. Our
				lightweight wall flags feature vivid colors and crisp lines,
				giving you an awesome centerpiece for any space. Made with high
				quality craftsmanship and durable materials these flags are
				built to last.
				<a href="/pages/about-us" style="text-decoration: underline"
					>Learn more about us</a
				>.
			</p>
		</div>
	</div>
</div>
