<div
	data-privacy-modal
	class="invisible fixed inset-0 z-50 flex h-screen items-center justify-center bg-black/70 opacity-0 duration-300"
>
	<div
		class="mx-5 w-full divide-y rounded-xl bg-white shadow-lg sm:mx-10 md:max-w-xl lg:max-w-3xl"
	>
		<div
			class="flex w-full items-center justify-between py-4 px-5 sm:py-8 sm:px-10"
		>
			<h4 class="m-0 w-52 text-xl font-bold sm:w-full sm:text-2xl">
				HypeFlags Custom Flag Policy
			</h4>
			<button
				type="button"
				class="text-base text-black/50"
				data-hide-modal
			>
				Close
			</button>
		</div>

		<div class="space-y-4 p-4 text-sm sm:p-7 sm:text-lg md:p-10">
			<p class="m-0">
				Custom flags require an additional 5-7 business day processing
				time. All orders will ship from the USA.
			</p>
			<p class="m-0">
				Our recommended minimum image size is 2000px. Images will be
				scaled to 5x3 feet so please upload the highest resolution file
				possible.
			</p>
			<p class="m-0">
				Please Note: We print the file to the exact resolution when
				uploaded. The image may appear pixelated or blurry when scaled
				to the full flag size. We are unable to provide any return or
				refund due to your provided file.
			</p>
			<p class="m-0">
				Please Note: We print the file to the exact resolution when
				uploaded. The image may appear pixelated or blurry when scaled
				to the full flag size. We are unable to provide any return or
				refund due to your provided file.
			</p>
			<p class="m-0">
				Custom flags are not returnable unless there is a printing
				defect. If you are unhappy with your custom flag please contact
				us and our team will help find a resolution.
			</p>
		</div>
	</div>
</div>
