<div
	data-privacy-modal
	class="invisible fixed inset-0 z-50 flex h-screen items-center justify-center bg-black/70 opacity-0 duration-300"
>
	<div class="max-w-3xl divide-y rounded-xl bg-white shadow-lg">
		<div class="flex w-full items-center justify-between py-8 px-10">
			<h4 class="m-0 text-2xl font-bold">HypeFlags Custom Flag Policy</h4>
			<button
				type="button"
				class="text-base text-black/50"
				data-hide-modal
			>
				Close
			</button>
		</div>

		<div class="p-10">
			<p>
				Custom flags require an additional 5-7 business day processing
				time. All orders will ship from the USA.
			</p>
			<p>
				Our recommended minimum image size is 2000px. Images will be
				scaled to 5x3 feet so please upload the highest resolution file
				possible.
			</p>
			<p>
				Please Note: We print the file to the exact resolution when
				uploaded. The image may appear pixelated or blurry when scaled
				to the full flag size. We are unable to provide any return or
				refund due to your provided file.
			</p>
			<p>
				Please Note: We print the file to the exact resolution when
				uploaded. The image may appear pixelated or blurry when scaled
				to the full flag size. We are unable to provide any return or
				refund due to your provided file.
			</p>
			<p>
				Custom flags are not returnable unless there is a printing
				defect. If you are unhappy with your custom flag please contact
				us and our team will help find a resolution.
			</p>
		</div>
	</div>
</div>
