<script>
	//| Create image using canvus.

	//| Create template html

	// | Data save from pop to imag
	$(".t_p_save").click(function () {
		var str = $(".editable_text").html()
		var str1 = findHashTags(str)
		var str2 = findAtTags(str)
		$(str1).each(function (index, val) {
			str = str.replace(val, '<span class="hashtag">' + val + "</span>")
		})
		$(str2).each(function (index, val) {
			str = str.replace(val, '<span class="atrate">' + val + "</span>")
		})

		$(".tweet_1 .twitter_wrapper #twitterText").html($.parseHTML(str))
		$(".editable_text").html($.parseHTML(str))
		$(".edit-tweet-popup").removeClass("opened")
		resizing()
		html2canvass()
	})

	$(window).resize(function () {
		resizing()
		popupSizing()
	})

	function resizing() {
		var outerDiv = $(
			".tweet-flag-wrap .tweet_flag_box .tweet_flag_box_inner"
		)
		var outerDivWidth = outerDiv.outerWidth()
		var outerDivHeight = outerDiv.outerHeight()
		var scaleDiv = $(
			".tweet-flag-wrap .tweet_flag_box .tweet_flag_box_inner .twitter_wrapper"
		)
		var scaleDivWidth = scaleDiv.outerWidth()
		var scaleDivHeight = scaleDiv.outerHeight()
		var scale, origin
		scale = Math.min(
			outerDivWidth / scaleDivWidth,
			outerDivHeight / scaleDivHeight
		)
		if (scale > 1) {
			scale = 1
		}
		scaleDiv.css({
			// 			        transformOrigin: 'top left',
			transform: "scale(" + scale + "," + scale + ")",
		})
	}

	function popupSizing() {
		var outerDiv = $(
			"#very-specific-design .tweet-flag-wrap .tweet_flag_box .tweet_flag_box_inner"
		)
		var outerDivWidth = outerDiv.outerWidth()
		var outerDivHeight = outerDiv.outerHeight()
		var scaleDiv = $(
			"#very-specific-design .tweet-flag-wrap .tweet_flag_box .tweet_flag_box_inner .twitter_wrapper"
		)
		var scaleDivWidth = scaleDiv.outerWidth()
		var scaleDivHeight = scaleDiv.outerHeight()
		var scale, origin
		scale = Math.min(
			outerDivWidth / scaleDivWidth,
			outerDivHeight / scaleDivHeight
		)
		if (scale > 1) {
			scale = 1
		}
		scaleDiv.css({
			transform: "scale(" + scale + ")",
		})
	}
</script>
