<div
	data-tweet-editor-modal
	class="invisible fixed inset-0 z-30 flex items-center justify-center bg-black/70 opacity-0 duration-300"
>
	<div
		class="mx-5 w-full overflow-hidden rounded-md bg-white shadow-lg sm:mx-6 md:max-w-4xl lg:mx-auto"
	>
		<div
			class="flex items-center justify-between space-x-5 px-4 pt-4 sm:bg-gray-100 sm:py-4 sm:px-10"
		>
			<button
				type="button"
				data-cancel-edit
				class="tertiary-btn px-6 sm:w-auto md:px-10"
			>
				Cancel
			</button>
			<span class="hidden text-2xl font-bold sm:block">Edit Tweet</span>
			<button
				type="button"
				data-confirm-edit
				class="primary-btn px-6 sm:w-auto md:px-10"
			>
				Confirm
			</button>
		</div>
		<div
			data-tweet-editor
			class="m-4 rounded bg-stone-100 py-8 px-3 sm:m-10 sm:px-5 md:px-20"
		></div>
	</div>
</div>
