@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.hf-btn {
		@apply w-full rounded-md py-3 px-5 text-base font-bold uppercase tracking-widest duration-300 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400 disabled:hover:bg-gray-300 disabled:hover:text-gray-400 disabled:hover:ring-0;
	}

	.primary-btn {
		@apply hf-btn bg-brand-red text-white hover:bg-transparent hover:text-brand-red hover:ring-2 hover:ring-inset hover:ring-brand-red;
	}
	.secondary-btn {
		@apply hf-btn bg-white text-brand-red ring-2 ring-inset ring-brand-red hover:bg-brand-red hover:text-white;
	}
}

.product-page-classes {
	@apply md:mt-14;
}

.custom-gromm:before,
.custom-gromm:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 10px;
	bottom: 8px;
	background: url(https://cdn.shopify.com/s/files/1/0254/3868/3184/t/68/assets/grommet.svg)
			no-repeat bottom 0 right 8px,
		url(https://cdn.shopify.com/s/files/1/0254/3868/3184/t/68/assets/grommet.svg)
			no-repeat bottom 0 left 8px;
	background-size: contain;
	z-index: 1;
}
.custom-gromm:before {
	top: 8px;
}

.sticky-header {
	@apply sticky top-0 z-30 md:shadow-lg;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
