@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
	@apply w-full rounded-md bg-brand-red py-3 px-5 text-base font-bold uppercase tracking-widest text-white duration-300 hover:bg-transparent hover:text-brand-red hover:ring-2 hover:ring-inset hover:ring-brand-red disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-400 disabled:hover:ring-0;
}

.custom-gromm:before,
.custom-gromm:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 10px;
	bottom: 8px;
	background: url(https://cdn.shopify.com/s/files/1/0254/3868/3184/t/68/assets/grommet.svg)
			no-repeat bottom 0 right 8px,
		url(https://cdn.shopify.com/s/files/1/0254/3868/3184/t/68/assets/grommet.svg)
			no-repeat bottom 0 left 8px;
	background-size: contain;
	z-index: 1;
}
.custom-gromm:before {
	top: 8px;
}

.sticky-header {
	@apply sticky top-0 z-30 shadow-lg;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
