{% case section.settings.grid %} {% when 2 %} {%- assign max_height = 530 -%} {%
when 3 %} {%- assign max_height = 345 -%} {% when 4 %} {%- assign max_height =
250 -%} {% when 5 %} {%- assign max_height = 195 -%} {% endcase %} {% if
section.settings.layout == 'grid' %} {%- assign limit = section.settings.grid |
times: section.settings.rows -%} {% else %} {%- assign limit = 16 -%} {% endif
%} {% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
	<div class="page-width" id="Collection">
		<div
			class="custom-product-catalog-list"
			style="
				display: flex;
				gap: 50px;
				justify-content: center;
				flex-wrap: wrap;
			"
		>
			{% for product in collection.products %} {% include 'product-card',
			max_height: max_height %} {% endfor %}
		</div>

		{% if is_empty_collection %}
		<div class="grid__item small--text-center">
			<p class="text-center">
				{{ "collections.general.no_matches" | t }}
			</p>
		</div>
		{% endif %} {% if paginate.pages > 1 %} {% include 'pagination' %} {%
		endif %}
	</div>
</div>

{% endpaginate %}
<!-- prettier-ignore -->
{% schema %} {"name":"Collection pages","settings":[{"type":"select","id":"layout","label":"Layout","default":"grid","options":[{"value":"grid","label":"Grid"},{"value":"list","label":"List"}]},{"type":"range","id":"grid","label":"Products per row (grid only)","default":4,"min":2,"max":5,"step":1},{"type":"range","id":"rows","label":"Rows per page (grid only)","default":2,"min":2,"max":8,"step":1},{"type":"checkbox","id":"show_collection_image","label":"Show collection image","default":true},{"type":"checkbox","id":"show_vendor","label":"Show product vendors","default":false},{"type":"checkbox","id":"sort_enable","label":"Enable sorting","default":true},{"type":"checkbox","id":"tags_enable","label":"Enable tag filtering","default":true}]}{% endschema %}
