{%- assign current_variant = product.selected_or_first_available_variant -%} {%-
assign product_image_zoom_size = '1024x1024' -%} {%- assign product_image_scale
= '2' -%} {%- assign enable_zoom = section.settings.enable_zoom -%} {%- assign
compare_at_price = current_variant.compare_at_price -%} {%- assign price =
current_variant.price -%}

<div
	class="product-template__container"
	id="ProductSection-{{ section.id }}"
	data-section-id="{{ section.id }}"
	data-section-type="product"
	data-enable-history-state="true"
>
	<div class="product-single">
		<div
			class="product-single__photos relative flex aspect-square flex-col items-center justify-center rounded-md bg-stone-100 px-5"
		>
			<div
				data-twitter-flag
				class="relative aspect-[5/3] w-full select-none bg-white font-tweet text-sm font-normal shadow-lg dark:bg-[#17202a]"
			>
				<span
					class="before:absolute before:top-2 before:left-2 before:block before:h-1.5 before:w-1.5 before:bg-grommet after:absolute after:top-2 after:right-2 after:block after:h-1.5 after:w-1.5 after:bg-grommet before:sm:h-2.5 before:sm:w-2.5 after:sm:h-2.5 after:sm:w-2.5"
					data-html2canvas-ignore
				></span>
				<span
					class="before:absolute before:bottom-2 before:left-2 before:block before:h-1.5 before:w-1.5 before:bg-grommet after:absolute after:bottom-2 after:right-2 after:block after:h-1.5 after:w-1.5 after:bg-grommet before:sm:h-2.5 before:sm:w-2.5 after:sm:h-2.5 after:sm:w-2.5"
					data-html2canvas-ignore
				></span>
				<div
					class="inner absolute flex h-full w-full items-center px-5 py-4 lg:px-9 lg:py-5"
				>
					<div class="more-inner w-[461px] min-w-[461px]">
						<div class="flex items-center gap-x-1.5">
							<div>
								<img
									data-t-user-avatar
									src="#"
									alt="pfp"
									class="h-12 w-12 rounded-full object-cover"
								/>
							</div>
							<div class="flex flex-col">
								<span
									class="flex items-center gap-x-1.5 font-bold dark:text-white"
									data-t-user-name
									>HypeFlags
									<svg
										class="hidden h-5 w-5 text-twitter-blue dark:text-white"
										viewBox="0 0 24 24"
										fill="currentColor"
										xmlns="http://www.w3.org/2000/svg"
									>
										<g>
											<path
												d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"
											></path>
										</g>
									</svg>
								</span>
								<span
									class="text-twitter-gray dark:text-twitter-lightgray"
									data-t-user-handle
									>@HypeFlags</span
								>
							</div>
						</div>
						<p
							data-t-text
							class="my-4 text-2xl font-normal text-black dark:text-white"
						>
							Lorem ipsum dolor sit amet consectetur, adipisicing
							elit. Provident, commodi.
						</p>
						<div
							class="flex items-center gap-x-1 text-twitter-gray dark:text-twitter-lightgray"
						>
							<time data-t-time>6:24 AM</time> &sdot;
							<time data-t-date>January 3, 2021</time> &sdot;
							<span data-t-device class="text-twitter-blue"
								>Twitter for iPhone</span
							>
						</div>
						<div
							class="mt-4 flex gap-x-5 border-t border-b border-[#ebeef0] py-4 px-1.5 text-sm text-twitter-gray dark:border-[#2f3336]"
						>
							<div
								class="font-normal dark:text-twitter-lightgray"
							>
								<strong
									data-t-retweets
									class="mr-1 text-black dark:text-white"
									>0</strong
								>
								Retweets
							</div>
							<div
								class="font-normal dark:text-twitter-lightgray"
							>
								<strong
									data-t-likes
									class="mr-1 text-black dark:text-white"
									>9</strong
								>
								Likes
							</div>
						</div>
						<div
							class="mt-3 flex items-center justify-around text-twitter-gray dark:text-twitter-lightgray"
						>
							<svg
								viewBox="0 0 24 24"
								class="h-5 w-5 fill-current"
							>
								<g>
									<path
										d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"
									></path>
								</g>
							</svg>
							<svg
								viewBox="0 0 24 24"
								class="h-5 w-5 fill-current"
							>
								<g>
									<path
										d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"
									></path>
								</g>
							</svg>
							<svg
								viewBox="0 0 24 24"
								class="h-5 w-5 fill-current"
							>
								<g>
									<path
										d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"
									></path>
								</g>
							</svg>
							<svg
								class="h-5 w-5 fill-current"
								viewBox="0 0 24 24"
							>
								<g>
									<path
										d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"
									></path>
									<path
										d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"
									></path>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<button
				data-edit-tweet
				type="button"
				class="secondary-btn absolute bottom-4 w-auto sm:bottom-8 md:py-2 md:px-5 lg:py-3.5 lg:px-8"
			>
				Edit Tweet
			</button>
		</div>

		<div class="product-desc mt-3.5 px-10 sm:mt-10 md:mt-0 md:p-0">
			<div id="lol"></div>
			{% render 'product-meta', product: product %}

			<div class="mt-6">
				<div class="mb-4 flex items-center justify-between">
					<span class="font-bold">Paste Tweet URL</span>
					<a
						href="#"
						class="cursor-pointerl text-base text-brand-red"
						id="tweet-inspiration"
						>Get Inspiration</a
					>
				</div>
				<div
					data-tweet-url
					class="flex items-center justify-between rounded-md border border-[#e6e6e6] px-5 py-3.5 after:ml-2 after:h-5 after:w-5 after:bg-no-repeat"
				>
					<input
						type="text"
						id="tweet-url"
						class="m-0 w-full text-ellipsis border-none p-0 text-sm outline-none"
						placeholder="https://"
						value="https://twitter.com/HypeFlags/status/1352056877992042497"
						autocomplete="off"
					/>
				</div>
			</div>

			<div class="mt-6">
				<span class="font-bold">Background</span>
				<div
					class="mt-4 flex items-center justify-between gap-x-5 md:gap-x-6"
				>
					<div class="grow">
						<input
							type="radio"
							id="theme-light"
							name="theme"
							value="light"
							class="peer hidden"
							checked
						/>
						<label
							for="theme-light"
							class="flex w-full cursor-pointer items-center gap-x-4 rounded border border-[#6D6D6D] bg-white px-6 py-3.5 duration-300 peer-checked:border-twitter-blue peer-checked:ring-1 peer-checked:ring-twitter-blue peer-checked:child:border-[#2AA3EF] peer-checked:child:bg-twitter-blue peer-checked:child:before:block"
						>
							<span
								class="block h-5 w-5 rounded-full border-2 border-[#8A8F95] duration-300 before:absolute before:hidden before:h-4 before:w-4 before:bg-tick"
							></span>
							<span class="text-base font-medium">Default</span>
						</label>
					</div>
					<div class="grow">
						<input
							type="radio"
							id="theme-dark"
							name="theme"
							value="dark"
							class="peer hidden"
						/>
						<label
							for="theme-dark"
							class="flex w-full cursor-pointer items-center gap-x-4 rounded border border-[#6D6D6D] bg-[#15202B] px-6 py-3.5 duration-300 peer-checked:border-[#2AA3EF] peer-checked:ring-1 peer-checked:ring-twitter-blue peer-checked:child:border-[#2AA3EF] peer-checked:child:bg-[#2AA3EF] peer-checked:child:before:block"
						>
							<span
								class="block h-5 w-5 rounded-full border-2 border-[#8A8F95] duration-300 before:absolute before:hidden before:h-4 before:w-4 before:bg-tick"
							></span>
							<span class="text-base font-medium text-white"
								>Dark Mode</span
							>
						</label>
					</div>
				</div>
			</div>

			{% render 'custom-add-to-cart' %} {% render 'product-info' %}
		</div>
	</div>
</div>

{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
	{{ product | json }}
</script>
{% endunless %}

<!-- prettier-ignore -->
{% schema %}
{
	"class": "product-page-classes",
"name": {
"de": "Produktseiten",
"en": "Product pages",
"es": "Páginas de productos",
"fr": "Pages de produits",
"it": "Pagine di prodotto",
"ja": "商品ページ",
"nl": "Productpagina's",
"pt-BR": "Páginas de produtos",
"zh-CN": "产品页面",
"zh-TW": "產品頁面"
},
"settings": [
{
"type": "select",
"id": "image_size",
"label": {
"de": "Foto-Größe",
"en": "Image size",
"es": "Tamaño de la imagen",
"fr": "Taille des images",
"it": "Dimensione immagine",
"ja": "画像のサイズ",
"nl": "Afbeeldingsformaat",
"pt-BR": "Tamanho da imagem",
"zh-CN": "图片尺寸",
"zh-TW": "圖片尺寸"
},
"options": [
{
"value": "small",
"label": {
"de": "Klein",
"en": "Small",
"es": "Pequeña",
"fr": "Petite",
"it": "Piccolo",
"ja": "小",
"nl": "Klein",
"pt-BR": "Pequeno",
"zh-CN": "小",
"zh-TW": "小型"
}
},
{
"value": "medium",
"label": {
"de": "Mittel",
"en": "Medium",
"es": "Mediana",
"fr": "Moyenne",
"it": "Medio",
"ja": "中",
"nl": "Gemiddeld",
"pt-BR": "Médio",
"zh-CN": "中等",
"zh-TW": "中等"
}
},
{
"value": "large",
"label": {
"de": "Groß",
"en": "Large",
"es": "Grande",
"fr": "Grande",
"it": "Grande",
"ja": "大",
"nl": "Groot",
"pt-BR": "Grande",
"zh-CN": "大",
"zh-TW": "大型"
}
},
{
"value": "full",
"label": {
"de": "Volle Breite",
"en": "Full-width",
"es": "Ancho completo",
"fr": "Pleine largeur",
"it": "Intera larghezza",
"ja": "全幅",
"nl": "Volledige breedte",
"pt-BR": "Largura completa",
"zh-CN": "全宽",
"zh-TW": "完整寬度"
}
}
],
"default": "medium"
},
{
"type": "checkbox",
"id": "show_quantity_selector",
"label": {
"de": "Quantitäts-Auswahl anzeigen",
"en": "Show quantity selector",
"es": "Mostrar selector de cantidad",
"fr": "Afficher le sélecteur de quantité",
"it": "Mostra selettore quantità",
"ja": "数量セレクターを表示する",
"nl": "Hoeveelheidskiezer weergeven",
"pt-BR": "Exibir seletor de quantidade",
"zh-CN": "显示数量选择器",
"zh-TW": "顯示數量選擇器"
},
"default": false
},
{
"type": "text",
"id": "shipping_text",
"label": {
"de": "Shipping Titel",
"en": "Shipping Title"
}
},
{
"type": "text",
"id": "shipping_text_os",
"label": {
"en": "Shipping Title for Backorders"
},
"default": "Pre-order | This flag will ship in 7-10 days"
},
{
"type": "checkbox",
"id": "show_variant_labels",
"label": {
"de": "Varianten-Etiketten anzeigen",
"en": "Show variant labels",
"es": "Mostrar etiquetas de variantes",
"fr": "Afficher le nom des variantes",
"it": "Mostra etichette varianti",
"ja": "バリエーションのラベルを表示する",
"nl": "Variantlabels weergeven",
"pt-BR": "Exibir etiquetas de variantes",
"zh-CN": "显示多属性标签",
"zh-TW": "顯示子類選項標籤"
},
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": {
"de": "Lieferanten anzeigen",
"en": "Show vendor",
"es": "Mostrar proveedor",
"fr": "Afficher les vendeurs",
"it": "Mostra fornitore",
"ja": "販売元を表示する",
"nl": "Leverancier weergeven",
"pt-BR": "Exibir fornecedor",
"zh-CN": "显示厂商",
"zh-TW": "顯示廠商"
},
"default": false
},
{
"type": "checkbox",
"id": "enable_zoom",
"label": {
"de": "Foto-Zoom zulassen",
"en": "Enable image zoom",
"es": "Habilitar zoom de imagen",
"fr": "Activer le zoom d'image",
"it": "Abilita lo zoom dell'immagine",
"ja": "画像ズームを有効にする",
"nl": "Inzoomen op afbeelding inschakelen",
"pt-BR": "Ativar o zoom da imagem",
"zh-CN": "启用图片缩放",
"zh-TW": "啟用圖片縮放"
},
"default": true
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": {
"de": "Dynamischen Checkout Button anzeigen",
"en": "Show dynamic checkout button",
"es": "Mostrar botón de pago dinámico",
"fr": "Afficher le bouton de passage à la caisse dynamique",
"it": "Mostra pulsante di check-out dinamico",
"ja": "ダイナミックチェックアウトボタンを表示する",
"nl": "Dynamische checkout knop weergeven",
"pt-BR": "Exibir botão dinâmico de finalização da compra",
"zh-CN": "显示动态结账按钮",
"zh-TW": "顯示動態結帳按鈕"
},
"info": {
"de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"pt-BR": "Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"zh-TW": "每位客戶都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
},
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": {
"de": "Buttons für Social Media anzeigen",
"en": "Show social sharing buttons",
"es": "Mostrar botones para compartir en redes sociales",
"fr": "Affichez les boutons de partage sur les médias sociaux",
"it": "Mostra i pulsanti per la condivisione sui social",
"ja": "ソーシャル共有ボタンを表示する",
"nl": "Knoppen voor sociaal delen weergeven",
"pt-BR": "Exibir botões de compartilhamento em redes sociais",
"zh-CN": "显示社交分享按钮",
"zh-TW": "顯示社群分享按鈕"
},
"default": true
}
]
}
{% endschema %}
