/* New Cart Page styling */
#shopify-section-cart-template {
	padding: 0 55px;
}
#shopify-section-cart-template .cart-wrapper {
	max-width: 1264px;
	margin: 60px auto 120px;
}

.cart-summary-container {
	display: flex;
	grid-template-columns: minmax(520px, 725px) minmax(372px, 471px);
	grid-column-gap: 68px;
	justify-content: space-between;
}

.cart-summary-container .cart-header {
	margin-bottom: 40px;
}

.cart-header__title {
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0;
	padding-bottom: 32px;
	border-bottom: 1px solid #e0e0e0;
}

.cart__item-wrap {
	display: flex;
	padding: 0 0 32px;
	border-bottom: 1px solid #e0e0e0;
}
.cart__item-wrap:not(:first-child) {
	padding-top: 32px;
}
.cart__item-wrap .cart__image {
	max-width: 150px;
	margin-right: 28px;
	border-radius: 4px;
}
.cart__item-wrap .cart__product-title {
	font-size: 20px;
	font-weight: 700;
}

/* Qty box */
.cart__item-wrap .cart__qty-block {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	max-width: 178px;
}
.cart__item-wrap .cart__qty-block input {
	border: none;
	width: 50px;
	text-align: center;
	padding: 0;
	-moz-appearance: textfield;
	border-radius: 0;
	background: transparent;
	font-size: 20px;
}

.cart__item-wrap .cart__qty-block input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.cart__item-wrap .cart__qty-block input:hover {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}
.cart__item-wrap .cart__qty-block input:focus {
	border: 0;
	outline: none;
}
.cart__item-wrap .cart__qty-block button {
	border: none;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	background: #f1f1f1;
	border: 1px solid #f1f1f1;
	color: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 250ms ease-in-out;
}
.cart__item-wrap .cart__qty-block button:disabled {
	cursor: not-allowed;
}
.cart__item-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	flex: 1;
}
.cart__item-wrap .cart__qty-block button:nth-of-type(1):hover {
	border-color: #d5003a;
	background: transparent;
}
.cart__item-wrap .cart__qty-block button:nth-of-type(1):hover svg {
	stroke: #d5003a;
}
.cart__item-wrap .cart__qty-block button:nth-of-type(2) {
	background: #d5003a;
	border-color: #d5003a;
	color: #fff;
}
.cart__action-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.cart__item-remove {
	position: relative;
	border-radius: 50%;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	transition: all 0.2s linear;
	padding: 10px;
}
.cart__item-remove:before {
	content: "";
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 10px;
	height: 10px;
	margin: 0 auto;
	position: absolute;
	top: 35px;
	border-left: transparent;
	border-top: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #fff;
	z-index: 10000;
	right: 0;
	left: 0;
	transition: all 0.2s linear;
}
.cart__item-remove:after {
	content: "Remove Item";
	display: block;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	border-radius: 4px;
	color: #000;
	z-index: 3;
	text-transform: unset;
	width: 80px;
	font-size: 12px;
	position: absolute;
	top: 45px;
	padding: 3px 5px;
	text-align: center;
	box-shadow: 0 0 20px #00000026;
	transition: all 0.2s linear;
}

.cart__item-remove:hover {
	color: #aeaeae;
	background: #f2f2f2;
}
.cart__item-remove:hover:after,
.cart__item-remove:hover:before {
	visibility: visible;
	opacity: 1;
}

.cart__item-price {
	font-size: 20px;
	font-weight: 700;
	color: #d5003a;
}

.cart__meta-text a {
	font-size: 16px;
	color: #d5003a;
	border-bottom: 1px solid #d5003a;
	padding-bottom: 1px;
}
.cart__meta-text a:hover {
	color: #a2002c !important;
	border-color: #a2002c;
}

.cart__summary-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*   height: 220px; */
	margin-top: 40px;
	gap: 28px;
	padding-bottom: 32px;
	border-bottom: 1px solid #e0e0e0;
}
.cart-summary__item {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
.cart-summary__item span.gray {
	color: #6d6d6d;
}

.cart-summary__total {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 20px;
	margin-top: 32px;
}
.cart-summary__total span {
	color: #d5003a;
}

.cart-summary__submit-controls {
	margin-top: 40px;
}
.cart-summary__submit-controls input[type="submit"] {
	width: 100%;
	height: 50px;
}

.cart-summary__submit-controls span {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	display: block;
	color: #6d6d6d;
	max-width: 430px;
	margin: 16px auto 0;
}

.cart-summary-container .cart-item-list {
	flex: 1;
}

/* Responsive */
@media (max-width: 1279px) {
	#shopify-section-cart-template .cart-wrapper {
		max-width: 1104px;
	}
	.cart-summary-container {
		grid-column-gap: 60px;
	}

	.cart__item-wrap {
		padding-bottom: 28px;
	}

	.cart__item-wrap:not(:first-child) {
		padding-top: 28px;
	}

	.cart-header__title {
		font-size: 24px;
	}

	.cart__item-wrap .cart__image {
		width: 110px;
		margin-right: 24px;
	}

	.cart__item-wrap .cart__product-title,
	.cart__item-price {
		font-size: 16px;
	}
	.cart__meta-text a {
		font-size: 12px;
	}

	.cart__item-remove {
		width: 32px;
		height: 32px;
	}

	.cart__item-wrap .cart__qty-block button {
		width: 24px;
		height: 24px;
		padding: 0 0px;
	}
	.cart__item-wrap .cart__qty-block button svg {
		width: 100%;
	}
	.cart__item-wrap .cart__qty-block input {
		font-size: 16px;
	}

	.cart__summary-wrap {
		gap: 24px;
	}
	.cart-summary__item {
		font-size: 16px;
	}

	.cart-summary__total {
		margin-top: 28px;
		font-size: 16px;
	}
	.cart-summary__submit-controls input[type="submit"] {
		font-size: 14px;
		height: 44px;
	}
	.cart-summary__submit-controls span {
		font-size: 12px;
		max-width: 316px;
	}
}

@media (max-width: 1024px) {
	.cart-summary-container {
		grid-column-gap: 52px;
	}
}

@media (max-width: 970px) {
	.order-summary {
		max-width: 40%;
	}
}

@media (max-width: 767px) {
	#shopify-section-cart-template {
		padding: 22px;
	}
	#shopify-section-cart-template .cart-wrapper {
		margin: 40px auto 100px;
	}
	.order-summary {
		margin-top: 67px;
		max-width: 100%;
	}

	.cart-summary-container {
		display: block;
	}

	.cart__item-wrap .cart__image {
		margin-right: 20px;
	}

	.cart__item-wrap .cart__product-title {
		max-width: 290px;
	}

	.cart-header__title {
		padding-bottom: 28px;
	}

	.cart__summary-wrap,
	.cart-summary__submit-controls {
		margin-top: 36px;
	}

	.cart-summary-container .cart-header {
		margin-bottom: 36px;
	}
}

@media (max-width: 400px) {
	.cart__item-wrap .cart__image {
		margin-right: 12px;
	}

	.cart__item-wrap .cart__product-title {
		max-width: 190px;
	}
}
