.hero.hero--adapt {
  background-color: #DC0F27;
}

.ratio-container .hero__inner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:0px;
  margin-left: 110px;
  margin-left: 4.4vw;
}

.hero__inner.convert_img .image-bar__link {
  position: relative;
  top: -1.3vw;
}

.hero__inner .mega-title--large {
  font-size: 150px;
  font-size: 5.9vw;
  width: 40vw;
  font-weight: 600;
  margin: 0;
}

.hero__inner .btn.hero__btn {
  width: 17.5vw;
  padding: 1.3vw 0;
  line-height: 1;
  margin: 20px 0 0 0;
  background: #333333;
  font-size: 34px;
  font-size: 1.3vw;
  color: #FDFDFD;
  border:none;
}
.hero__inner .btn.hero__btn:hover {
  border: none;
  background: #000;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.hero__inner .mega-subtitle {
  max-width: 100%;
  margin-top: 0px;
}

.hero__inner .mega-subtitle p {
  font-weight: 600;
  font-size: 60px;
  font-size: 2.3vw;
}


/*================ Hero and slideshow headers ================*/
.mega-title,
.mega-subtitle {
  color: white;
}
.hero .mega-title,
.hero .mega-subtitle {
  text-shadow: none;
}

/* Judgme Review bar */
.hf-jm-wrap {
  display: flex;
  justify-content: center;
/*   align-items: center; */
  border-bottom: 1px solid #d5d7dd;
  font-family: 'Source Sans Pro', sans-serif;
/*   font-family: Helvetica; */
  font-size: 14px;
  height: 59px;
}
.hf-jm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 1000px;
/*   padding: 15px 0; */
}
.hf-jm-container.mb {
  display: none;
}
.hf-jm-container img {
  max-width: 130px;
  margin: 0 16px;
}
.hf-jm-container strong {
  font-weight: 600;
}

/* Media Queries */
@media only screen and (min-width: 750px) {
  .mega-title,
  .mega-subtitle {
    text-shadow: none;
  }
}

@media only screen and (min-width: 750px) {
  .mega-title--large {
    font-size: 32px;
    /*     margin-top: 50px; */
    /*     margin-bot: 50px; */
    /*     font-size: 48px; */
  }
}
@media only screen and (max-width: 749px) {
  .mega-title--large {
    /*     margin-top: 82px; */
    margin-top: 52px;
    font-size: 32px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 750px) {
  .mega-subtitle {
    font-size: 1.22222em;
    margin: 0 auto;
  }
  .text-center .mega-subtitle {
    max-width: 75%;
  }
}
.mega-subtitle p {
  color: white;
}
.mega-subtitle a {
  color: white;
  border-bottom: 1px solid currentColor;
}
.mega-subtitle a:hover,
.mega-subtitle a:focus {
  color: #e6e6e6;
}

.mega-subtitle--large {
  font-size: 24px;
  font-weight: bold;
}
@media only screen and (min-width: 750px) {
  .mega-subtitle--large {
    font-size: 22px;
  }
}


@media (min-width:1500px) {
  .hero__inner .mega-title--large {
    font-size: 88.4px;
    width: 600px;
  }
  
  .hero__inner .mega-subtitle p {
  	font-size: 34.4px;
  }
  
  .hero__inner .btn.hero__btn {
    width: 262px;
    padding: 19.5px 0;
    font-size: 19.4px;
  }
}

@media (max-width: 1024px) {
  .hf-jm-container {
    display: none;
  }
  .hf-jm-container.mb {
    display: flex;
    font-size: 13px;
  }
  .hf-jm-container.mb img {
    max-width: 100px;
    margin: 0 5px;
  }
  .hf-jm-container.mb a img {
    max-width: 60px;
    margin: 0 5px;
  }
}

@media (max-width: 767px) {
  .ratio-container .hero__inner {
    width: 100%;
  }
  .ratio-container .hero__inner.convert_img {
    display: block;
    text-align: center;
    margin: 28px 0 0 0;
  }
  
  .hero__inner .mega-title--large {
    margin: 0 auto;
    font-size: 11.5vw;
    width: 80vw;
  }
  
  .hero__inner .mega-subtitle p {
  	font-size: 4.5vw;
  }
  
  .hero__inner .btn.hero__btn {
  	display: none;
  }
}

@media (max-width: 360px) {
  .hf-jm-wrap {
    height: auto;
  }
  .hf-jm-container.mb {
    display: block;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    padding: 8px 0 12px;
  }
  .hf-jm-container.mb img {
    display: block;
    margin: 0 auto;
  }
  .hf-jm-container.mb a{
    justify-content: center;
  }
}

